.minecraft/.mixin.out/
.minecraft/backups/
.minecraft/coremods/
.minecraft/crash-reports/
.minecraft/ldlib/
.minecraft/local/
.minecraft/logs/
.minecraft/modernfix/
.minecraft/mods/
.minecraft/patchouli_books/
.minecraft/saves/
.minecraft/schematics/
.minecraft/screenshots/
.minecraft/server-resource-packs/
.minecraft/xaero/
.minecraft/Xaero*/
.minecraft/ds_private_storage.json
.minecraft/hotbar.nbt
.minecraft/icon.png
.minecraft/options.txt
.minecraft/patchouli_data.json
.minecraft/rhino.local.properties
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/XaeroWaypoints*/
.minecraft/XaeroWorldMap
mmc-pack.json
instance.cfg
